<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tiyujia.homesport">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 地图功能相关权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 地图功能相关权限 -->
    <!-- 相机功能相关权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:anyDensity="true"
        android:icon="@mipmap/img_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:icon,android:allowBackup,android:supportsRtl,android:theme,android:anyDensity,android:name">
        >
        <!-- 地图功能配置信息 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c41464a8d4e9656d8c263b332f14aa35" />
        <!-- 杨帆：c41464a8d4e9656d8c263b332f14aa35-->
        <!-- 周正权：41b06df45821e2e8780540298badbd71-->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 地图功能配置信息 -->
        <activity
            android:name=".BootLoaderActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".common.personal.activity.PersonalSystemSetting" />
        <activity android:name=".common.personal.activity.PersonalSetInfo" />
        <activity android:name=".common.personal.activity.PersonalFeedback" />
        <activity android:name=".common.personal.activity.PersonalActive" />
        <activity android:name=".common.personal.activity.PersonalDynamic" />
        <activity android:name=".common.personal.activity.PersonalEquipmentShow" />
        <activity android:name=".common.personal.activity.PersonalAttention" />
        <activity android:name=".common.personal.activity.PersonalFans" />
        <activity android:name=".common.personal.activity.PersonalAbout" />
        <activity android:name=".common.personal.activity.PersonalPanyanGold" />
        <activity android:name=".common.personal.activity.PersonalPanyanGoldInfo" />
        <activity android:name=".common.personal.activity.PersonalPanyanGoldRecord" />
        <activity android:name=".common.personal.activity.ProtocolAcitvity" />
        <activity android:name=".common.personal.activity.PersonalMsg" />
        <activity android:name=".common.personal.activity.PersonalLogin" />
        <activity android:name=".common.personal.activity.PersonalRegister" />
        <activity android:name=".common.personal.activity.PersonalForgetRegister" />
        <activity android:name=".common.community.activity.CommunityAddAttention" />
        <activity android:name=".common.community.activity.CommunityDynamicPublish" />
        <activity android:name=".common.community.activity.YWRecordVideoActivity" />
        <activity android:name=".common.community.activity.WidthMatchVideo" />
        <activity android:name=".common.community.activity.CityAddressSelect" />
        <activity android:name=".common.homepage.activity.HomePageVenueSurveyActivity" />
        <activity android:name=".common.homepage.activity.HomePageDateActivity" />
        <activity android:name=".common.homepage.activity.HomePageEquipmentActivity" />
        <activity android:name=".common.homepage.activity.HomePageCourseActivity" />
        <activity
            android:name=".common.homepage.activity.HomePageSearchResultActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".common.homepage.activity.HomePageActivePublishActivity" />
        <activity android:name=".common.homepage.activity.HomePageEquipmentShowActivity" />
        <activity
            android:name=".common.homepage.activity.HomePageArticleActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".common.homepage.activity.HomePageEquipmentInfo"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".common.homepage.activity.HomePageDateInfo"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".common.homepage.activity.CityMapActivity" />
        <activity android:name=".common.record.activity.RecordTopActivity" />
        <activity android:name=".common.record.activity.RecordTrackActivity" />
        <activity android:name=".common.record.activity.CityMapHistoryActivity" />
        <activity android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity" />
        <activity android:name=".common.homepage.activity.HomePageSetCityActivity" />
        <activity android:name=".common.homepage.activity.HomePageWholeSearchActivity" />
        <activity android:name=".common.personal.activity.PersonalOtherHome" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".common.homepage.activity.MorePeopleGoneActivity" />
        <activity android:name=".common.community.activity.CommunityDynamicDetailActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".common.community.activity.CommunityMoreLoveActivity"></activity>
    </application>

</manifest>